/* Banner */
body.is-touch #banner {
  background-attachment: scroll;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
  padding-top: 3rem;
  padding-bottom: 7rem;
}

ul.actions li {
  display: inline-block;
  vertical-align: middle;
}

#banner {
  padding: 20rem 0 13rem 0;
  background-attachment: fixed;
  background-image: url("../images/modern.png");
  background-position: center top;
  background-size: cover;
  text-align: center;
  
  @include respond(phone-large) {
      background-size: percentage($number: 3);
  }
}

#banner:last-child {
  margin-bottom: 0;
}

#banner h2 {
  color: $color-white;
  display: inline-block;
  font-size: 5rem;
  line-height: 1.35;
  margin-bottom: 0.5rem;
  text-transform: uppercase;

  @include respond(phone-large) {
    margin: 0 2rem;
  }
}

#banner p {
  color: $color-grey-light;
  font-size: 2.35rem;
  margin-bottom: 1.75rem;
  text-transform: uppercase;
  line-height: 1.5;

  @include respond(phone-large) {
    margin: 2rem 2rem 0;
  }
}
