/* Header */
#header {
  cursor: default;
  font-size: 1.25rem;
  left: 0;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 10001;
}

#header h1 a {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 5rem;
  top: 5.2rem;
  color: $color-white;
  font-size: 1.8rem;

  @include respond(phone-large) {
    visibility: hidden;
  }
}

#header nav {
  position: absolute;
  vertical-align: middle;
  right: 6rem;
  top: 3.9rem;
}

#header nav a {
  color: $color-white;
  font-size: 1.8rem;

  @include respond(phone-large) {
    font-size: 3rem;
  }
}

#header nav ul a {
  margin: 0;
  border-radius: 4px;
  display: inline-block;
  margin-left: 4rem;

  @include respond(phone-large) {
    margin-left: 0;
  }
}

#header nav ul a:hover {
  color: $color-grey-dark;
}

.alt {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  height: 6rem;
  line-height: 3.25rem;
  position: absolute;
}

.closebtn {
  visibility: hidden;
}

.hamburger-menu {
  visibility: hidden;
}

// phone-large nav bar scaling
@include respond(phone-large) {
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 1rem;
    right: 25px;
    margin-left: 50px;
    visibility: visible;
  }

  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }

  .hamburger-menu-style {
    visibility: visible;
    width: 3.5rem;
    display: block;
    height: 5px;
    margin: 6px 0px 0px 0px;
    background: $color-white;
    border-radius: 20px;
    margin-left: 2rem;
    opacity: 0.45;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }
}
