.midsection {
  position: relative; // set to relative because it is parent of __par
  text-align: center;
  padding: 10rem 0;

  &__par {
    &--p1 {
      font-size: 1.75rem;
      width: 50%;
      line-height: 2.5;
      margin: 0 auto;

      @include respond(tab-port) {
        width: 95%;
      }

      @include respond(phone-large) {
        font-size: 2.2rem;
        width: 75%;
      }

      @include respond(phone-small) {
        font-size: 2.2rem;
        width: 55%;
      }
    }
  }
}

.midsection .row:not(:last-child) {
  margin-bottom: 0;
}
.midsection h3 {
  margin-top: 0;
  font-size: 3rem;

  @include respond(phone-large) {
    padding: 0 5rem 1rem;
  }

  @include respond(phone-small) {
    padding: 0 4rem 1rem;
  }
}
