.composition {
  position: relative; // set to relative because it is parent of __photo

  @include respond(tab-port) {
    margin-top: 6rem;
  }

  &__photo {
    width: 18.5%;

    @include respond(tab-port) {
      width: 16.5%;
      margin: 0 auto;
    }

    position: absolute;
    z-index: 10;
    transition: all 0.2s;

    // Swift
    &--p1 {
      // these values move the img up, down, left or right
      left: 5rem;
      top: -5rem;

      @include respond(phone-large) {
        top: -4rem;
      }

      @include respond(phone-small) {
        left: 5rem;
        top: -3rem;
      }
    }

    // JavaScript
    &--p2 {
      right: 7rem;
      top: -5rem;

      @include respond(phone-large) {
        right: 5rem;
        top: -4rem;
      }

      @include respond(phone-small) {
        right: 5rem;
        top: -3rem;
      }
    }

    // CSS
    &--p3 {
      left: 4.5rem;
      top: 9.5rem;

      @include respond(phone-small) {
        left: 4.9rem;
      }
    }

    // HTML
    &--p4 {
      right: 7rem;
      top: 9.5rem;

      @include respond(phone-large) {
        right: 5rem;
      }

      @include respond(phone-small) {
        right: 5rem;
      }
    }

    // Sass
    &--p5 {
      right: 22.45rem;
      top: -5rem;

      @include respond(tab-port) {
        right: 21.5rem;
      }

      @include respond(phone-large) {
        top: -4rem;
        right: 19.5rem;
      }

      @include respond(phone-small) {
        right: 17rem;
        top: -3rem;
      }
    }

    // GIT
    &--p6 {
      right: 23.25rem;
      top: 9.5rem;

      @include respond(tab-port) {
        right: 22.25rem;
      }

      @include respond(phone-large) {
        right: 20rem;
      }

      @include respond(phone-small) {
        right: 17rem;
      }
    }

    /// COMMENTED OUT FOR USE OF AOS JAVASCRIPT
    // &:hover {
    //   // use for hover affect of each photo
    //   transform: scale(1.09);

    //   z-index: 20; // brings img forward with higher index value than parent
    // }
  }
}
