.section-my-work {
  background-color: $color-grey-very-light;
  padding: 10rem 0;
  margin: 0 auto;

  @include respond(tab-port) {
    padding-bottom: 25rem;
    margin-bottom: 0;
  }
}

.section-my-work .row {
  padding-bottom: 8rem;
}
